.splash-container
  .splash-row
    = image_tag "logo.png", style: "width:600px"
    =form_tag "/search", :method => :get, :id => "search-form" do |f|
      .input-group
        = text_field_tag "url","", :class => "col-lg-12 form-control", :placeholder => "Enter Content URL"
        #search-button.input-group-addon{:style => "cursor:pointer"}
          =fa_icon "search"

:javascript
  $("#search-button").click(function(){
    $("#search-form").submit();
  })
