# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7a5f6f950dd12c62add5d8d13d4b8de691fac1005a2f6a146994f30acaaa3ebb96d0f879dfbe79a5cc368309b69352205042ead4e1b9a695740d42c0ad16a81e

test:
  secret_key_base: 98922378ba470e5dde113868c9a5313cc15a149cc22e9a126ec3fbcc6b4930b80dd2a9d447a5f14cb449a27bf8fe8be795be0743a4497a7de8a58eff4bd7db41
staging:
  secret_key_base: 98922378ba470e5dde113868c9a5313cc15a149cc22e9a126ec3fbcc6b4930b80dd2a9d447a5f14cb449a27bf8fe8be795be0743a4497a7de8a58eff4bd7db41
# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
